<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CF Imager - Editor {{.FunctionName}}</title>
    <script src="../js/editor.js" async defer></script>
    <script src="https://hcaptcha.com/1/api.js?hl=fr" async defer></script>
</head>
<body>
<form id="form">
    <label for="name">Name</label>
    <input type="text" id="name" value="{{.FunctionName}}"><br>
    <label for="code">Function source code</label>
    <textarea id="code">{{.FunctionCode}}</textarea><br>
    <label for="errorArea">Compilation output</label>
    <textarea id="errorArea">{{.FunctionError}}</textarea><br>
    <div class="h-captcha" data-sitekey="{{sitekey}}" data-callback="hcaptcha_ok"></div>
    <input type="submit" value="Save" id="submit" disabled>
    <label id="error"></label>
</form>
<a href="../list">go back</a>
</body>
</html>