<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request a Password Reset - CF Imager</title>
    <script type="text/javascript" defer src="../js/passwordResetRequest.js"></script>
    <script src="https://hcaptcha.com/1/api.js?hl=fr" async defer></script>
</head>
<body>
<form id="form">
    <label for="email">Email Address: </label>
    <input id="email" type="email" required>
    <div class="h-captcha" data-sitekey="{{sitekey}}" data-callback="hcaptcha_ok"></div>
    <input type="submit" id="submit" value="Reset Password" disabled>
        <label id="error"></label>
</form>
</body>
</html>