<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re send Email - CF Imager</title>
    <script type="text/javascript" defer src="../js/passwordReset.js"></script>
    <script src="https://hcaptcha.com/1/api.js?hl=fr" async defer></script>
</head>
<body>
<form id="form">
    <label for="password">New Password: </label>
    <input id="password" type="password" minlength="8" required>
    <label for="passwordRe">Repeat New password: </label>
    <input id ="passwordRe" type="password" minlength="8" required>
    <div class="h-captcha" data-sitekey="{{sitekey}}" data-callback="hcaptcha_ok"></div>
    <input type="submit" id="submit" value="Reset Password" disabled>
        <label id="error"></label>
</form>
<script src="../argon2/argon2.js"></script>
</body>
</html>