<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revoke Tokens - CF Imager</title>
    <script src="https://hcaptcha.com/1/api.js?hl=fr" async defer></script>
</head>
<body>
<h3>
    Warning : clicking the button below will log you out of all the devices your account has been used on. <br>
    You should use this feature if you didn't log out of a device another person can use. <br>
    If you password was leaked, use the <a href="../passwordResetRequest.html">password reset</a> feature instead.
</h3>
<form method="post" action="../v1/revoke">
    <input type="submit" value="Proceed">
</form>
</body>
</html>